@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.w-100vh {
  width: 100vh;
}
.mt-25vh {
  margin-top: 25vh;
}

.mt-30vh {
  margin-top: 30vh;
}
.mt-70vh {
  margin-top: 70vh;
  color: #002040;
}

.rotate {
  transform: rotate(90deg);
}

.active-nav {
  transition: all 1s;
  animation: fadeInLeft 0.15s ease-out forwards;
}
/*ANIMATIONS*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-title {
  animation: fadeInDown 0.6s ease-out forwards;
}

.sub-title {
  animation: fadeInUp 0.6s ease-out forwards;
}

.fade-in-button {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards 0.7s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
